<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
  <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
  <property name="hibernate.connection.url">jdbc:derby:trimsalon;create=true</property>
  <property name="hibernate.connection.username">admin</property>
  <property name="hibernate.connection.password">admin</property>
  <property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping resource="com/dabis/trimsalon/hibernate/afspraak.hbm.xml"/>
  <mapping resource="com/dabis/trimsalon/hibernate/behandeling.hbm.xml"/>
  <mapping resource="com/dabis/trimsalon/hibernate/boekhouding.hbm.xml"/>
  <mapping resource="com/dabis/trimsalon/hibernate/factuur.hbm.xml"/>
  <mapping resource="com/dabis/trimsalon/hibernate/hond.hbm.xml"/>
  <mapping resource="com/dabis/trimsalon/hibernate/klant.hbm.xml"/>
  <mapping resource="com/dabis/trimsalon/hibernate/opmerking.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
